﻿@section scripts 
{
    @Scripts.Render("~/bundles/app")
}

<!-- Alright, this is the page header. and I am using comments in HTML, just like I do with JS and c sharp files-->
<!-- Unfortunately, writing comments in HTML is crazy-->

<div class="page-header">
    <h1>Simple Web API For Training and General Usage</h1>
    <h2>Built and maintained by <a href="http://thechalakas.com/" target="_blank">Jay</a></h2>
    <h2>Source Code is available at this repo -  <a href="https://bitbucket.org/thechalakas/projecttd_webapi_attempt2" target="_blank">Project TD Web API</a></h2>
    <h2>API Documentation - @Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</h2>
    <h2>JavaScript code that does basic POST and GET <a href="https://bitbucket.org/thechalakas/webandcloud" target="_blank">Javascript Code for GET POST</a></h2>
    

</div>

<div class="row">

    <!-- This is for the main list. shows the warehouse with the speaker in it-->

    @*<div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"> Headphones </h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: headphones">
                    <li>
                        <strong><span data-bind="text: WarehouseName"></span></strong> : <span data-bind="text: Name"></span>
                        <!-- i am now bindign the click method to the getheadphone detail method I just wrote in the app.js file-->
                        <small><a href="#" data-bind="click: $parent.getheadphonedetail">details</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error">
            <p data-bind="text: error"></p>
        </div>
    </div>

    <!--This shows the details of the selected headphone-->
    <!--The following if:detail is a special knockout thing becomes activated only when detail is not null-->
    <!--That means, when there is nothing to show, an empty table wont be shown-->
    <!-- ko if:detail() -->
    <div class="col-md-4">
        <!--Title-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
        </div>
        <!--Table-->
        <table class="table">
            <tr><td>Name</td><td data-bind="text: detail().Name"></td></tr>
            <tr><td>Category</td><td data-bind="text: detail().Category"></td></tr>
            <tr><td>Price</td><td data-bind="text: detail().Price"></td></tr>
            <tr><td>WarehouseName</td><td data-bind="text: detail().WarehouseName"></td></tr>
        </table>
    </div>*@
    <!-- /ko -->

    <!--This allows you to add a new book-->
    @*<div class="col-md-4">
        <!--panel panel-->
        <div class="panel panel-default">
            <!--heading-->
            <div class="panel panel-heading">
                <h2 class="panel-title">Add headphone</h2>
            </div>
            <!--body-->
            <div class="panel panel-body">
                <!--form stuff begins. this is where we submit the new headphone-->
                <form class="form-horizontal" data-bind="submit: addheadphone">
                    <!--This is where we display a list of warehouses to select from-->
                    <div class="form-group">
                        <label for="inputWarehouse" class="col-sm-2 control-label">
                            Warehouse
                        </label>
                        <div class="col-sm-10">
                            <select data-bind="options:warehouses, optionsText: 'Warehouse_Name', value: newheadphone.Warehouse"></select>
                        </div>
                    </div>
                    <div class="form-group" data-bind="with: newheadphone">
                        <!--this is the form where we fill in the headphone data-->
                        <label for="inputName" class="col-sm-2 control-label">
                            Name
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" data-bind="value: Name" />
                        </div>
                        <label for="inputCategory" class="col-sm-2 control-label">
                            Category
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCategory" data-bind="value: Category" />
                        </div>
                        <label for="inputPrice" class="col-sm-2 control-label">
                            Price
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPrice" data-bind="value: Price" />
                        </div>
                    </div>
                    <button type="submit" class="btn-default">Submit</button>
                </form>
            </div>

        </div>
    </div>*@
</div>