@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using ProjectTD_WebAPI_attempt2.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Project TD Web API ";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Project TD API Documentation.
            </p>
            <p>Using <b>Postman</b>? You can dowload the collection at the code repo -  <a href="https://bitbucket.org/thechalakas/projecttd_webapi_attempt2" target="_blank">Project TD Web API</a></p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
